
lesson15/auto-managment/hibernate-conn-util/target/
lesson15/auto-managment/dependency-context/target/
lesson15/auto-managment/props-configuration/target/
lesson15/auto-managment/dao-api/target/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Folders with .class files
**bin/*
**target/*

# Package Files #
*.jar
*.war
*.ear
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

