<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>auto</display-name>

	<servlet>
		<servlet-name>MechanicServlet</servlet-name>
		<servlet-class>com.bardouski.servlets.MechanicServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MechanicListServlet</display-name>
		<servlet-name>MechanicListServlet</servlet-name>
		<servlet-class>com.bardouski.servlets.MechanicListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketServlet</display-name>
		<servlet-name>TicketServlet</servlet-name>
		<servlet-class>com.bardouski.servlets.TicketServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketListServlet</display-name>
		<servlet-name>TicketListServlet</servlet-name>
		<servlet-class>com.bardouski.servlets.TicketListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MechanicServlet</servlet-name>
		<url-pattern>/MechanicServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MechanicListServlet</servlet-name>
		<url-pattern>/MechanicListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketServlet</servlet-name>
		<url-pattern>/TicketServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketListServlet</servlet-name>
		<url-pattern>/TicketListServlet</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>MechnanicFilter</filter-name>
		<filter-class>com.bardouski.filters.MechnanicFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MechnanicFilter</filter-name>
		<servlet-name>MechanicServlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>MechanicListFilter</filter-name>
		<filter-class>com.bardouski.filters.MechanicListFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MechnanicFilter</filter-name>
		<servlet-name>MechanicListServlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>TicketListFilter</filter-name>
		<filter-class>com.bardouski.filters.TicketListFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TicketListFilter</filter-name>
		<servlet-name>TicketListServlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>TicketFilter</filter-name>
		<filter-class>com.bardouski.filters.TicketFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TicketFilter</filter-name>
		<servlet-name>TicketServlet</servlet-name>
	</filter-mapping>



</web-app>
